@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Roboto:ital@1&display=swap');

body{
    display: flex;
    background-color: black;
    justify-content: center;
    max-height: 55rem;
}
#pageContainer{
    margin: 5% 5%;
    width: 80%;
    display: flex;
    font-family: Inter, helvetica, Roboto, sans-serif;
    flex-direction: row;
    color: white;
    background-color: rgb(33 145 219);
    border-radius: 1.5rem;
}

img{
    width: 40%;
    height: auto;
    border-radius: 1.5rem;
}

#content{
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 1.5rem;
}

#textBox{
    height: 33%;
}

#formBox{
    box-shadow: 5px;
    height: 33%;
    padding: 1rem;
}

form{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 100%;
}

input{
    border-radius: .5rem;
    border-color: black;
    border-width: .1rem;
}

button{
    background-color: rgb(33 145 219);
    color: white;
    height: 30px;
    width: 175px;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px;
}

#callToAction{
    padding: 20px;
    height: 33%;
}
/*
@media (min-width:40rem){
    #pageContainer{
        flex-direction: row;
    }

    #content{
        width: 100%;
    }

    img{
        width: 100%;
        max-width: 100vw;
    }
}
*/