@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Roboto:ital@1&display=swap');

body{
    display: flex;
    background-color: rgb(33 33 33);
    justify-content: center;
    max-height: 55rem;
}
#pageContainer{
    margin: 5% 5%;
    width: 80%;
    display: flex;
    font-family: Inter, helvetica, Roboto, sans-serif;
    flex-direction: row;
    color: white;
    background-color: rgb(33 145 219);
    border-radius: 1.5rem;
}

img{
    width: 40%;
    height: auto;
    border-radius: 1.5rem;
}

#content{
    display: flex;
    width: 60%;
    flex-direction: column;
}

#textBox{
    padding: 1.5rem;
    display: flex;
    align-items: stretch;
    height: 33%;
    flex-direction: column;
    justify-content: left;
}

#formBox{
    height: 33%;
    padding: 1rem;
    border-color: transparent;
    background-color: rgb(25 130 200);

}

form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
    align-items: center;
    row-gap: 1rem;
}

label{
    display: flex;
    align-items: center;
}

input{
    border-radius: .5rem;
    border-color: black;
    border-width: .1rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1rem;
}
 
button{
    background-color: rgb(25 130 200);
    color: white;
    height: 30px;
    width: 175px;
    border-radius: 5px;
    border-color: transparent;
    padding: 5px;
    margin:1rem;
}

#callToAction{
    padding: 20px;
    height: 33%;
}

p{
    display: flex;
    flex-grow: 1;
    font-size: 1.25rem;
}

#passWarning{
    color:red;
    font-size: .75rem;
    grid-column: 2;
    justify-content: center;
    visibility: hidden;
}
